<div id="cpanel_user" class="form">
<%= simple_form_for(@user, 
  :url => (@user.id.blank? ? cpanel_users_path : cpanel_user_path(@user.id)) , :html => { :enctype =>  "multipart/form-data" }) do |f| %>

  <div class="inputs">
  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :slug %>
  <%= f.input :tagline %>
  <%= f.input :bio %>
  <%= f.input :avatar %>
  <% if not @user.avatar.blank? %>
  <div class="row">
    <label>预览</label>
    <%= image_tag(@user.avatar.normal.url) %>
  </div>
  <% end %>
  <%= f.input :website %>
  </div>
  <div class="actions">
    <button type="submit">提交</button>
     或者 <%= link_to '返回', cpanel_users_path %>
  </div>
<% end %>
</div>
