<table style="border:0;margin-bottom:10px; font-size:12px;">
  <tr>
    <td valign="top" style="width:65px; padding-right:10px;">
      <a href="<%= user_url(@follower.slug) %>">
        <% if !@follower.avatar.blank? %>
          <%= image_tag(@follower.avatar.normal.url, :style => "width:65px;height:65px;") %>
        <% else %>
          <%= image_tag("http://zheye.org/images/avatar/normal.jpg", :style => "width:65px;height:65px;") %>
        <% end %>
      </a>
    </td>
    <td valign="top">
      <div style="font-weight:bold;padding:8px 0; font-size:14px;"><%= @follower.name %></div>
      <div>在<%= Setting.app_name %>上，他有 <%= @follower.asks_count %>个问题, <%= @follower.answers_count %>个回答 </div>
      <% if !@follower.followed_topics.blank? %>
        <div>关注了<%= @follower.followed_topics.count %>个话题: <%= @follower.followed_topics.limit(3).collect { |t| t.name }.join(",") %>... </div>
      <% end %>
    </td>
  </tr>
</table>
