<div style="margin:10px 0;">
  <b><%= user_name_tag(@ask.user, :url => true) %></b> <%=t(:to_ask_you)%>。
</div>
<div style="font-weight:bold;"><%=t(:you_can_click_on_the_link_below_to_access_this_page)%>：</div>
<div><a href="<%= ask_url(@ask.id) %>"><%= ask_url(@ask.id) %></a></div>
