<table style="border:0;margin-bottom:10px; font-size:12px;">
  <tr>
    <td valign="top" style="width:65px; padding-right:10px;">
      <a href="<%= user_url(@follower.slug) %>">
        <% if !@follower.avatar.blank? %>
          <%= image_tag(@follower.avatar.normal.url, :style => "width:65px;height:65px;") %>
        <% else %>
          <%= image_tag("http://zheye.org/images/avatar/normal.jpg", :style => "width:65px;height:65px;") %>
        <% end %>
      </a>
    </td>
    <td valign="top">
      <div style="font-weight:bold;padding:8px 0; font-size:14px;"><%= @follower.name %></div>
      <div><%=t(:in)%><%= Setting.app_name %>上，<%=t(:he_has)%> <%= @follower.asks_count %><%=t(:question)%>, <%= @follower.answers_count %><%=t(:an_answer)%> </div>
      <% if !@follower.followed_topics.blank? %>
        <div><%=t(:concerned_about_the)%><%= @follower.followed_topics.count %><%=t(:topics)%>: <%= @follower.followed_topics.limit(3).collect { |t| t.name }.join(",") %>... </div>
      <% end %>
    </td>
  </tr>
</table>
