<div><b><%= @answer.user.name %><%=t(:said)%>:</b></div>
<div style="margin:7px 0 20px;font-size:14px;"><%= md_body(@answer.body) %></div>
<div>
  <b><%=t(:you_can_click_on_the_link_below_and_answer_this_question)%>:</b><br />
  <a href="<%= ask_url(@ask.id, :anchor => "answer_#{@answer.id}") %>"><%= ask_url(@ask.id) %></a>
</div>
