<p><%=t(:you_have_successfully_registered_as_a)%><%= Setting.app_name %><%=t(:members)%>.</p>
<ul>
<li><%=t(:name)%>: <%= @user.name %></li>
<li><%=t(:account)%>: <%= @user.email %></li>
</ul>
<br />
<p>
<%=t(:who_also_is_still_in)%>Alpha<%=t(:stage)%>，<%=t(:we_are_trying_to_improve_it)%>，<%=t(:if_there_are_issues_that_a_lot_of_understanding)%>。<br /><br />
<%=t(:feedback_and_suggestions_can_be_sent_to)%>:<br />
<a href="mailto:huacnlee@gmail.com">huacnlee@gmail.com</a>，<a href="mailto:nowazhu@gmail.com">nowazhu@gmail.com</a> <br /><br />
<%=t(:or_can_be_submitted_directly_to_the)%> <a href="https://github.com/huacnlee/quora/issues/new">Github issue</a>
</p>

