<div id="answer_<%= item.id %>" class="answer">
  <div class="vote_buttons">
    <% if not owner?(item) %>
      <a class="vote_up<%= ' voted' if voted?(item, :up) %>" onclick="return vote('<%= item.id %>',1);" href="#"></a>
      <a class="vote_down<%= ' voted' if voted?(item, :down) %>" onclick="return vote('<%= item.id %>',0);" href="#"></a>
    <% end %>
  </div>
  <div class="avatar_border">
    <%= user_avatar_tag(item.user, :small) %>
  </div>
  <div class="answer_border">
    <div class="author"><%= user_name_tag(item.user) %><%= user_tagline_tag(item.user) %></div>
    <% if !item.votes_point.blank? and item.votes_point != 0 %>
    <div class="votes"> 
      <span class="num"><%= item.votes_point %></span> 票
    </div>
    <% end %>
    <div class="md_body">
      <div id="answer_body_<%= item.id %>">
        <%= md_body(item.body) %>
      </div>
      <% if owner?(item) %>
        <%= in_place_edit_tag item, :body, :type => :textarea, :text_id => "answer_body_#{item.id}" %>
      <% end %>
    </div>
    <div class="action">
      <% if item.comments_count == 0 %>
        <a href="#" onclick="return toggleComments('answer','<%= item.id %>');">添加评论</a>
      <% else %>
        <a href="#" onclick="return toggleComments('answer','<%= item.id %>');"><%= item.comments_count %> 条评论</a>
      <% end %>
      • <a class="usefull" onclick="return usefull('<%= item.id %>',1);" href="#">感谢</a> 
      • <a class="notusefull" onclick="return usefull('<%= item.id %>',0);" href="#">没有帮助</a>
      • <%= l item.created_at, :format => :short %>
    </div>
  </div>
</div>
