<div id="answer_<%= item.id %>" data-uc="<%= item.up_votes_count %>" data-dc="<%= item.down_votes_count %>"
    class="answer<%= ' spam_answer' if spam_answer?(item) %>">
  <div class="vote_buttons">
    <% if not owner?(item) %>
      <a rel="tipsyr" title="#{t(:agree)} (#{t(:sort_will_rise)})" class="vote_up<%= ' voted' if voted?(item, :up) %>" onclick="return Asks.vote('<%= item.id %>',1);" href="#"></a>
      <a rel="tipsyr" title="#{t(:against)} (#{t(:does_not_display_your_name)})" class="vote_down<%= ' voted' if voted?(item, :down) %>" onclick="return Asks.vote('<%= item.id %>',0);" href="#"></a>
    <% end %>
  </div>
  <div class="avatar_border">
    <%= user_avatar_tag(item.user, :small) %>
  </div>
  <div class="answer_border">
    <div class="author"><%= user_name_tag(item.user) %><%= user_tagline_tag(item.user,:prefix => ",") %></div>
    <% if item.up_votes_count != 0 %>
      <div class="votes"> 
        <span class="num"><%= item.up_votes_count %></span><%=t(:votes)%>，<%=t(:from)%><%= up_voter_links item.up_voters %>
      </div>
    <% end %>
    <div class="md_body">
      <div id="answer_body_<%= item.id %>">
        <%= md_body(item.chomp_body) %>
      </div>
      <% if owner?(item) %>
        <%= in_place_edit_tag item, :body, :type => :textarea, :text_id => "answer_body_#{item.id}" %>
      <% end %>
    </div>
    <div class="action">
      <% if item.comments_count == 0 %>
        <a href="#" onclick="return Asks.toggleComments('answer','<%= item.id %>');"><%=t(:add_a_comment)%></a>
      <% else %>
        <a href="#" onclick="return Asks.toggleComments('answer','<%= item.id %>');"><%= item.comments_count %> <%=t(:comments)%></a>
      <% end %>
      <% if not owner? item %>
        • <a rel="tipsyr" title="#{t(:expressed_appreciation_to_the_respondents)}" class="thank<%= ' thanked' if thank_answered?(item) %>" href="#" onclick="return Asks.thankAnswer(this,'<%= item.id %>')"><%=t(:thanks)%></a>
      <% end %>
      • <a rel="tipsyr" title="#{t(:and_pertain_to_the_question_that_this_answer)}，#{t(:or_no_practical_effect)}" class="notusefull<%= ' spamed' if spam_answered?(item) %>" onclick="return Asks.spamAnswer(this,'<%= item.id %>');" href="#"><%=t(:no_help)%></a>
      • <%= l item.created_at.getlocal, :format => :short %>
    </div>
  </div>
</div>
