<% content_for :sidebar do %>
  <ul id="main_sections" class="clearfix">
    <% if current_user %>
    <li>
      <a href="<%= root_path %>" class="home<%= ' active' if params[:controller] == "home" and ["index","newbie"].index(params[:action]) %>">扶뒬못</a>
    </li>
    <li>
      <a href="<%= asks_path %>" class="asks<%= ' active' if params[:controller] == "asks" and params[:action] == "index" %>"><%=t(:all_issues)%></a>
    </li>
    <% else %>
      <li> <a href="<%= root_path %>" class="asks<%= ' active' if params[:controller] == "home" and params[:action] == "index" %>">扶뒬못</a> </li>
    <% end %>
    <li>
      <a href="<%= doing_path %>" class="logs<%= ' active' if params[:controller] == "logs" and params[:action] == "index" %>"><%=t(:news)%></a>
    </li>
  </ul>
<% end %>
