<% content_for :sidebar do %>
  <div class="box">
    <ul class="sections">
      <% if current_user %>
			<li>
    		<a href="<%= root_path %>" class="home<%= ' active' if params[:controller] == "home" and ["index","newbie"].index(params[:action]) %>"><%=t(:my_home)%></a>
    	</li>
			<li>
    		<a href="<%= followed_path %>" class="followed<%= ' active' if params[:controller] == "home" and params[:action] == "followed" %>"><%=t(:my_concern)%></a>
    	</li>
			<li>
    		<a href="<%= recommended_path %>" class="recommended<%= ' active' if params[:controller] == "home" and params[:action] == "recommended" %>"><%=t(:recommend_to_my_question)%></a>
    	</li>
    	<li>
    		<a href="<%= muted_path %>" class="muted<%= ' active' if params[:controller] == "home" and params[:action] == "muted" %>"><%=t(:my_question_shielding)%></a>
    	</li>
			<li>
        <a href="<%= asks_path %>" class="asks<%= ' active' if params[:controller] == "asks" and params[:action] == "index" %>"><%=t(:all_issues)%></a>
      </li>
      <% else %>
        <li> <a href="<%= root_path %>" class="asks<%= ' active' if params[:controller] == "home" and params[:action] == "index" %>"><%=t(:all_issues)%></a> </li>
			<% end %>
			<li>
        <a href="<%= doing_path %>" class="logs<%= ' active' if params[:controller] == "logs" and params[:action] == "index" %>"><%=t(:were_also_taking_place)%></a>
      </li>
    </ul>
  </div>
	<% if current_user %>
		<div class="box">
			<h2><%=t(:invite_friends)%></h2>
	    <ul class="sections">
				<li>
		      <a href="<%= new_user_invitation_path %>"><%=t(:invite_your_friends_to_register)%></a>
		    </li>
			</ul>
		</div>
	
    <% 
      items = current_user.suggest_items
      if !items.blank?
    %>
      <div class="box">
        <h2><%=t(:you_may_be_interested_in_the_person_or_topic)%></h2>
        <ul class="followed-item listing">
          <% for item in items %>
            <% if item.class.to_s == 'User' %>
            <%= render "home/recommended_user", :follower => item %>
            <% elsif item.class.to_s == 'Topic' %>
            <%= render "home/recommended_topic", :topic => item %>
            <% end %>
          <% end %>
        </ul>
      </div>
      <script type="text/javascript">
        $("ul.followed-item li").mouseenter(function(){ $(this).find(".mute").show(); }).mouseleave(function(){ $(this).find(".mute").hide(); });
      </script>
    <% end %>
  <% end %>
<% end %>
