<div id="share_ask">
  <h2><%=t(:sharing)%></h2>
  <div class="dialog_tabs">
    <a href="#" show="email" class="tab"><span class="has_icon email">Email</span></a>
    <a href="#" show="url" class="tab"><span class="has_icon url"><%=t(:forwarding_address)%></span></a>
  </div>
  <form action="<%= share_ask_path(@ask.id) %>" class="simple_form" method="post" data-remote="true">
    <%= auth_token %>
    <div style="display:none" class="share_panel" id="share_panel_email">
      <input type="hidden" name="type" value="email" />
      <div class="row">
        <label><%=t(:recipient)%>:</label>
        <input type="text" name="to" placeholder="<%=t(:if)%>：user@163.com" required="required" type="email" />
      </div>
      <div class="row">
        <label><%=t(:message_subject)%>:</label>
        <input type="text" style="width:400px;" required="required" name="subject" value="<%= current_user.name %><%=t(:to_recommend_to_you_the_problem)%>" />
      </div>
      <div class="row">
        <label><%=t(:text)%>:</label>
        <textarea style="width:400px;height:60px;" required="required" onclick="$(this).height(150);" name="body"><%= current_user.name %><%=t(:said)%>：
<%=t(:to_recommend_to_you_this_question)%>《<%=@ask.title%>》
<%=t(:visiting_address)%>：<%= ask_url(@ask.id) %></textarea>
      </div>
      <div class="actions"><button type="submit"><%=t(:share)%></button> <%=t(:or)%> <a href="#" onclick="$.facebox.close();return false;"><%=t(:close)%></a></div>
    </div>
    <div style="display:none" class="share_panel" id="share_panel_url">
      <div class="row">
        <label><%=t(:recommended_text)%>:</label>
        <textarea type="text" style="width:400px;height:50px;"><%= @ask.title %>
<%= ask_url(@ask.id) %></textarea>
        <p class="hint"><%=t(:you_can_copy_the_contents_of_the_above)%>，并把它转发到你的微博<%=t(:or)%>发送给你的QQ<%=t(:friends)%>,<%=t(:they_will_be_able_to_see_this_page_click_on_the_link)%>。</p>
      </div>
      <div class="actions"><a href="#" onclick="$.facebox.close();return false;"><%=t(:close)%></a></div>
    </div>
  </form>
</div>
<script type="text/javascript">
  $("#share_ask .dialog_tabs a").click(function(){
    a = $(this);
    $(".share_panel").hide();
    $("#share_panel_"+a.attr("show")).show().find("input,textarea").first().focus().select();
    $("#share_ask .dialog_tabs a").removeClass("actived");
    $(this).addClass("actived");
    return false;
  });
  <% if !params[:type].blank? %>
    $("#share_ask .dialog_tabs a[show*=<%= params[:type] %>]").click();
  <% else %>
    $("#share_ask .dialog_tabs a").first().click();
  <% end %>
</script>
