<% content_for :scripts do %>
  <script type="text/javascript">
    function toggleComments(type,id){
      var el = $("#"+type+"_"+id);
      var comments = $(".comments",el);
      if(comments.length > 0){
        comments.toggle();
      }
      else{
        App.loading();
        $.get("/comments",{ type : type, id : id }, function(html){
          $(".action",el).after(html);
          App.loading(false);
        });
      }
      return false;
    }

    function vote(id,type){
      var answer = $("#answer_"+id);
      vtype = "down";
      if(type == 1) { vtype = "up"; }
      $(".vote_buttons a",answer).removeClass("voted");
      $(".vote_buttons a.vote_"+vtype,answer).addClass("voted");
      $(".action a",answer).removeClass("voted");
      $(".action a.vote_"+vtype,answer).addClass("voted");
      App.loading();
      $.get("/answers/"+id+"/vote",{ inc : type },function(res){
        if(!App.requireUser(res,"text")){
          return false;
        }
        res_a = res.split("|");
        vote_callback(id, vtype, res_a[0], res_a[1]);
        App.loading(false);
      });
      return false;
    }

    function vote_callback(id, vtype,new_up_count, new_down_count){
      var answer = $("#answer_"+id);
      var answer_votes = $(".votes",answer);
      answer.attr("data-uc", new_up_count);
      answer.attr("data-dc", new_down_count);
      
      /* Change value for visable label */
      if(answer_votes.length > 0){
        if(new_up_count <= 0){
          /* remove up vote count label if up_votes_count is zero */
          $(answer_votes).remove();
        }
        else{
          $(".num",answer_votes).text(new_up_count);
        }
      }
      else {
        if(vtype == "up"){
          $(".author",answer).after("<div class=\"votes\"><span class=\"num\">"+new_up_count+"</span> 票</div>");
        }
      }

      var answers = $(".answer");
      var position_changed = false;

      for(var i =0;i<answers.length;i++){
        a = answers[i];
        /* Skip current voted Answer self */
        if($(a).attr("id") == answer.attr("id")){
          continue;
        }
        /* Get next Answer uc and dc */
        u_count = parseInt($(a).attr("data-uc"));
        d_count = parseInt($(a).attr("data-dc"));

        /* Change the Ask position */
        if(vtype == "up"){
          if(new_up_count > u_count){
            $(a).before(answer);
            position_changed = true;
            break;
          }
        }
        else{
          /* down vote */
          if(new_up_count <= u_count && new_down_count < d_count){
            $(a).after(answer);
            position_changed = true;
            break;
          }
        }
      }
      answer.fadeOut(100).fadeIn(200);
    }

    function spamAsk(el,id){
      if(!confirm("<%= Setting.ask_spam_max %>人评价为烂问题后，此问题将会被屏蔽，而且无法撤销！\n你确定要这么评价吗？")){
        return false;
      }

      App.loading();
      $(el).addClass("spamed");
      $.get("/asks/"+id+"/spam",function(count){
        if(!App.requireUser(count,"text")){
          return false;
        }
        $("#ask_spam_count").val(count);
        App.loading(false);
      });
      return false;
    }

    function spamAnswer(el,id){
      App.loading();
      $(el).addClass("spamed");
      $(el).text("已提交");
      $.get("/answers/"+id+"/spam",function(count){
        if(!App.requireUser(count,"text")){
          return false;
        }
        App.loading(false);
      });
      return false;
    }


    function follow(el, id){
      App.loading();
			$(el).attr("onclick", "return false;");
			$.get("/asks/"+id+"/follow",{}, function(res){
        App.loading(false);
        $(el).replaceWith('<a href="#" style="width:80px;" class="gray_button" onclick="return unfollow(this, \'<%= @ask.id %>\');">取消关注</a>');
	    });
      return false;
    }
		
		function unfollow(el, id){
      App.loading();
			$(el).attr("onclick", "return false;");
			$.get("/asks/"+id+"/unfollow",{}, function(res){
        App.loading(false);
        $(el).replaceWith('<a href="#" style="width:80px;" class="gray_button green_button" onclick="return follow(this, \'<%= @ask.id %>\');">关注此问题</a>');
	    });
      return false;
    }

    function dropdownSettings(el){
      $(el).jDialog({
        title_visiable : false,
        width : 160,
        top_offset : -1,
        content : "<ul><li>asdgasdgasdgasdg</li></ul>"
      });
      $(el).attr("droped",1);
      return false;
    }

    function toggleEditTopics(isShow){
      if(isShow){
        $(".ask .edit_topics").show();
        $(".ask .item_list").hide();

      }
      else{
        $(".ask .item_list").show();
        $(".ask .edit_topics").hide();
      }
    }

    function beforeAddTopic(el){
      App.loading();
    }

    function addTopic(name){
      App.loading(false);
      if(name.trim() == ""){
        return false;
      }
      $(".ask .topics .item_list .in_place_edit").before("<a href='/topics/"+name+"' class='topic'>"+name+"</a>");
      $(".ask .topics .item_list .no_result").remove();
      exit_topic_count = $(".ask .edit_topics .items .topic").length;
      $(".ask .edit_topics .items").append('<div class="topic"> \
            <a href="#" onclick="removeTopic(this,'+(exit_topic_count+1)+',\''+name+'\');" class="remove"></a>\
            <span>'+name+'</span>\
          </div>');
    }

    function removeTopic(el,idx,name){
      App.loading();
      $.get("<%= update_topic_ask_path(@ask.id) %>", { name : name }, function(res){
        $(el).parent().remove();
        $(".ask .topics .item_list .topic:nth-of-type("+(idx+1)+")").remove();
        App.loading(false);
      });
      return false;
    }

    function beforeAnswer(el){
      $("button.submit",el).attr("disabled","disabled");
      App.loading();
    }
  </script>
<% end %>
<%= render 'base' %>
<div class="ask" id="ask_<%= @ask.id %>">
  <div class="topics">
    <div class="item_list">
      <% if !@ask.topics.blank? %>
        <%= topics_name_tag(@ask.topics) %>
      <% else %>
        <% if current_user %>
          <span class="no_result">给这个问题选个话题吧，好让别人来回答</span>
        <% end %>
      <% end %>
      <% if current_user %>
        <a href="#" onclick="return toggleEditTopics(true);" class="in_place_edit">修改</a>
      <% end %>
    </div>
    <div class="edit_topics" style="display:none">
      <div class="items">
        <% if !@ask.topics.blank? %>
          <% @ask.topics.each_with_index do |item,i| %>
          <div class="topic">
            <a href="#" onclick="removeTopic(this,<%= i %>,'<%= item %>');" class="remove"></a>
            <span><%= item %></span>
          </div>
          <% end %>
        <% end %>
      </div>
      <form data-remote="true" action="<%= ask_path(@ask.id) %>/update_topic" onsubmit="return beforeAddTopic(this);" method="post">
        <%= auth_token  %>
        <input type="text" class="name" style="width:100px;" name="name" value="" placeholder="搜索话题" /> 
        <input type="hidden" name="add" value="1" /> 
        <button type="submit" class="small">添加</button> 
        <a href="#" onclick="return toggleEditTopics(false);">完成</a>
      </form>
    </div>
  </div>
  <div class="title">
    <h1 id="ask_title"><%= @ask.title %></h1>
    <%= in_place_edit_tag @ask, :title, :text_id => "ask_title" %>
  </div>
  <div class="md_body">
    <div id="ask_body"><%= md_body(@ask.body) %></div>
    <% if @ask.body.blank? %>
      <%= in_place_edit_tag @ask, :body, :type => :textarea, :text_id => "ask_body",:label => "添加补充资料" %>
    <% else %>
      <%= in_place_edit_tag @ask, :body, :type => :textarea, :text_id => "ask_body" %>
    <% end %>
  </div>
  <div class="action">
    <% if @ask.comments_count == 0 %>
      <a href="#" onclick="return toggleComments('ask','<%= @ask.id %>');">添加评论</a>
    <% else %>
      <a href="#" onclick="return toggleComments('ask','<%= @ask.id %>');"><%= @ask.comments_count %> 条评论</a>
    <% end %>
    • <a class="spam<%= ' spamed' if spamed?(@ask) %>" onclick="return spamAsk(this,'<%= @ask.id %>');" title="问题被<%= Setting.ask_spam_max %>个网友评价为烂问题后,问题将会自动删除" href="#">烂问题</a>
    <% if !@ask.spams_count.blank? %>(<span id="spams_count"><%= @ask.spams_count %></span>人认为)<% end %>
    • <span class="date"><%= l @ask.created_at.getlocal, :format => :short %></span>
  </div>
</div>

<div class="answers">
  <% user_answered = false %>
  <% if !@answers.blank? %>
    <% @answers.each do |item| %>
      <% user_answered = true if owner?(item) %>
      <%= render("answer", :item => item) %>
    <% end %>
  <% end %>
</div>

<% if current_user %>
  <% if user_answered %>
    <div class="disabled_answer">一个问题你只能回答一次，但你可以对现有的回答进行修改。</div>
  <% else %>
    <div class="answer_form from">
      <h2>添加答案</h2>
      <% if current_user %>
      <div class="user_info">
        <%= user_name_tag(current_user) %>,
        <span id="answer_user_tagline"><%= user_tagline_tag(current_user) %></span>
        <%= in_place_edit_tag current_user, :tagline, :text_id => "answer_user_tagline", :label => "修改简介" %>
      </div>
      <% end %>
      <%= form_for(@answer, :remote => true, :html => { :onsubmit => "return beforeAnswer(this);" },
                   :url => answer_ask_path(@ask.id)) do |f| %>
        <div class="row">
          <%= f.text_area :body, :style => "height:100px;", :class => "text long" %>
        </div>
        <div class="actions">
          <button class="submit" type="submit">提交回答</button>
        </div>
      <% end %>
      <script type="text/javascript">
        $("#answer_body").qeditor();
      </script>
    </div>
  <% end %>
<% end %>
<% content_for :sidebar do %>
  <% if current_user %>
    <div class="box">
      <div class="inner">
				<% if current_user.ask_followed?(@ask) %>
				<a href="#" style="width:80px;" class="gray_button" onclick="return unfollow(this, '<%= @ask.id %>');">取消关注</a>
				<% else %>
        <a href="#" style="width:80px;" class="gray_button green_button" onclick="return follow(this, '<%= @ask.id %>');">关注此问题</a>
        <!-- <a href="#" class="dropdown" onclick="return dropdownSettings(this);"><%= image_tag("settings.png",:style => "margin-bottom:-5px;") %></a> -->
				<% end %>
      </div>
		</div>
	<% end %>

		<div class="box standard">
			<h2>相关问题</h2>
			<div class="inner">
				<ul>
				<% for ask in @relation_asks %>
					<li><a href="/asks/<%= ask.id %>"><%= ask.title %></a></li>
				<% end %>
				<ul>
			</div>
    </div>

		<div class="box standard gray">
			<h2>问题状态</h2>
			<div class="inner">
				<p>最近活动：<%= l @ask.last_updated_at ? @ask.last_updated_at.getlocal : (@ask.answered_at ? @ask.answered_at.getlocal : @ask.updated_at.getlocal), :format => :min %></p>
				<p>被浏览 <%= @ask.views_count %> 次，<%= @ask.followers.count %> 人关注了该问题</p>
				<div class="followers">
					<% for follower in @ask.followers %>
					<a href="/users/<%= follower.slug %>" title="<%= follower.name %>">
						<%= user_avatar_tag(follower, :small) %>
					</a>
					<% end %>
				</div>
			</div>
    </div>
<% end %>
