<% content_for :scripts do %>
  <script type="text/javascript">
    var ask_id = '<%= @ask.id %>';
    var ask_redirected = false;

  </script>
<% end %>
<%= render 'base' %>
<% if not @rf_ask.blank? %>
  <script type="text/javascript">
    Asks.redirected_tip('<%= @rf_ask.title %>', '<%= @rf_ask.id %>','rf');
  </script>
<% end %>
<% if not @r_ask.blank? %>
  <script type="text/javascript">
    ask_redirected = true;
    Asks.redirected_tip('<%= @r_ask.title %>', '<%= @r_ask.id %>','nr', '<%= @ask.id %>');
  </script>
<% end %>
<% if can_edit?(@ask) %>
  <% if !@suggest_topics.blank? %>
    <script type="text/javascript">
      Asks.showSuggestTopics(<%=raw @suggest_topics.to_json %>);
    </script>
  <% end %>
<% end %>
<div class="ask the-ask" id="ask_<%= @ask.id %>">
  <div class="topics">
    <div class="item_list">
      <% if !@ask.topics.blank? %>
        <%= topics_name_tag(@ask.topics) %>
      <% else %>
        <% if current_user %>
          <span class="no_result"><%=t(:choose_a_topic_to_this_question_it)%>，<%=t(:to_allow_someone_else_to_answer)%></span>
        <% end %>
      <% end %>
      <% if can_edit?(@ask) %>
        <a href="#" onclick="return Asks.toggleEditTopics(true);" class="in_place_edit"><%=t(:modify)%></a>
      <% end %>
    </div>
    <div class="edit_topics" style="display:none">
      <div class="items">
        <% if !@ask.topics.blank? %>
          <% @ask.topics.each_with_index do |item,i| %>
          <div class="topic">
            <a href="#" onclick="Asks.removeTopic(this,<%= i %>,'<%= item %>');" class="remove"></a>
            <span><%= item %></span>
          </div>
          <% end %>
        <% end %>
      </div>
      <form data-remote="true" action="<%= ask_path(@ask.id) %>/update_topic" onsubmit="return Asks.beforeAddTopic(this);" method="post">
        <%= auth_token  %>
        <input type="text" class="name" id="searchTopic" style="width:100px;" name="name" value="" placeholder="<%=t(:search_topic)%>" /> 
        <input type="hidden" name="add" value="1" /> 
        <button type="submit" class="small"><%=t(:add)%></button> 
        <a href="#" onclick="return Asks.toggleEditTopics(false);"><%=t(:complete)%></a>
      </form>
      <script type="text/javascript">Asks.completeTopic($("#searchTopic"));</script>
    </div>
  </div>
  <div class="title">
    <h1><%= "#{@ask.to_user.name}：" if !@ask.to_user.blank? %><span id="ask_title"><%= @ask.title %></span></h1>
    <% if can_edit?(@ask) %>
      <%= in_place_edit_tag @ask, :title, :type => :textarea, :width => 598, :height => 40, :rich => false, :text_id => "ask_title" %>
    <% end %>
  </div>
  <div class="md_body">
    <div id="ask_body"<% if @ask.chomp_body.blank? %> class="blank-body"<% end %>><%= md_body(@ask.chomp_body) %></div>
    <% if can_edit?(@ask) %>
      <% if @ask.chomp_body.blank? %>
        <%= in_place_edit_tag @ask, :body, :type => :textarea, :text_id => "ask_body",:label => "#{t(:add)}补充资料" %>
      <% else %>
        <%= in_place_edit_tag @ask, :body, :type => :textarea, :text_id => "ask_body" %>
      <% end %>
    <% end %>
  </div>
  <div class="action">
    <% if @ask.comments_count == 0 %>
      <a href="#" onclick="return Asks.toggleComments('ask','<%= @ask.id %>');"><%=t(:add)%>评论</a>
    <% else %>
      <a href="#" onclick="return Asks.toggleComments('ask','<%= @ask.id %>');"><%= @ask.comments_count %> <%=t(:comments)%></a>
    <% end %>
    • <a href="#new_answer" onclick="return $('#new_answer .qeditor_preview').focus();"><%=t(:add)%>答案</a>
    • <a href="#" onclick="return Asks.report(this);"><%=t(:report)%></a>
    • <a rel="tipsyr" title="#{t(:do_you_think_this_is_not_a_problem)},#{t(:or_the_answer_can_easily)}Google,Baidu#{t(:found_above)}" class="spam<%= ' spamed' if spamed?(@ask) %>" onclick="return Asks.spamAsk(this,'<%= @ask.id %>');" title="<%=t(:problem_is)%><%= Setting.ask_spam_max %><%=t(:a_user_that_is_the_problem_after_bad)%>,<%=t(:problem_will_be_hidden)%>。" href="#"><%=t(:bad_question)%></a>
    <% if !@ask.spams_count.blank? %>(<span id="spams_count"><%= @ask.spams_count %></span><%=t(:people_think_that)%>)<% end %>
    • <span class="date"><%= l @ask.created_at.getlocal, :format => :short %></span>
  </div>
</div>

<% if @ask.answers_count > 0 %>
<div class="answers-count">
	<%=t(:there)%><%= @ask.answers_count %><%=t(:an_answer)%>
</div>
<% end %>

<div class="answers">
  <% user_answered = false %>
  <% if !@answers.blank? %>
    <% @answers.each do |item| %>
      <% user_answered = true if owner?(item) %>
      <%= render("answer", :item => item) %>
    <% end %>
  <% end %>
</div>

<% if current_user %>
  <% if user_answered %>
    <div class="disabled_answer"><%=t(:you_can_only_answer_one_question)%>，但你可以对现<%=t(:there)%>的回答进行<%=t(:modify)%>。</div>
  <% elsif !@ask.to_user.blank? and current_user.id != @ask.to_user_id %>
    <div class="disabled_answer"><%=t(:this_problem_is)%> <%= user_name_tag(@ask.to_user) %> 提问的，只<%=t(:there)%><%= user_sex_title(@ask.to_user) %><%=t(:to_answer)%>。</div>
  <% else %>
    <div class="answer_form from">
      <h2><%=t(:add)%>答案</h2>
      <% if current_user %>
      <div class="user_info">
        <%= user_name_tag(current_user) %>,
        <span id="answer_user_tagline"><%= user_tagline_tag(current_user) %></span>
        <%= in_place_edit_tag current_user, :tagline, :text_id => "answer_user_tagline", :label => "#{t(:modify)}简介" %>
      </div>
      <% end %>
      <%= form_for(@answer, :remote => true, :html => { :onsubmit => "return Asks.beforeAnswer(this);" },
                   :url => answer_ask_path(@ask.id)) do |f| %>
        <div class="row">
          <%= f.text_area :body, :style => "height:100px;", :class => "text long" %>
        </div>
        <div class="actions">
          <button class="submit" type="submit"><%=t(:submit_answers)%></button>
        </div>
      <% end %>
      <script type="text/javascript">
        $("#answer_body").qeditor({'is_mobile_device': <%= is_mobile_device? ? 'true' : 'false' %>});
      </script>
    </div>
  <% end %>
<% end %>
<% content_for :sidebar do %>
    <% if current_user %>
      <div class="box">
        <div class="inner">
          <% if current_user.ask_followed?(@ask) %>
          <a href="#" style="width:80px;" class="flat_button" onclick="return Asks.unfollow(this);"><%=t(:cancel_concern)%></a>
          <% else %>
          <a href="#" style="width:80px;" class="gray_button green_button" onclick="return Asks.follow(this);"><%=t(:this_problem_concerns)%></a>
          <% end %>
          <a href="#" class="dropdown" onclick="return Asks.dropdown_menu(this);"><span class="settings"><%=t(:options)%></span></a>
        </div>
      </div>
    <% end %>

    <div style="display:none" id="redirect_ask">
      <div id="redirect_ask_panel" class="facebox_window simple_form">
        <h2><%=t(:another_point_to_a_problem_that_already_exists)%></h2>
        <form action="" onsubmit="return Asks.redirect_ask_save(this);">
          <div class="field">
            <label><%=t(:the_problem)%>“<%= @ask.title %>”<%=t(:point)%>:</label>
            <input type="text" class="search" style="width:450px;" placeholder="<%=t(:search_title)%>" />
            <input type="hidden" class="r_title" />
            <input type="hidden" class="r_id" />
          </div>
          <div class="actions">
            <button type="submit"><%=t(:determine_the_redirection)%></button>
            <a style="margin-left:10px;" onclick="$.facebox.close(); return false;" href="#"><%=t(:cancel)%></a>
          </div>
        </form>
      </div>
    </div>


		<div id="relation_asks" class="box standard">
			<h2><%=t(:related_issues)%></h2>
			<div class="inner">
				<ul>
				<% @relation_asks.each_with_index do |ask,i| %>
          <li <%= "style='display:none;'" if i > 4 %>><a href="/asks/<%= ask.id %>"><%= ask.title %></a></li>
				<% end %>
        <% if @relation_asks.count > 4 %>
          <li class="more">
            <a href="#" onclick="$(this).parent().parent().find('li').show();$(this).hide();return false;">查看更多<%=t(:related_issues)%></a>
          </li>
        <% end %>
				<ul>
			</div>
    </div>

    <% if current_user %>
      <div id="share_ask_box" class="box standard">
        <h2>
          <a class="actived" href="<%= share_ask_path(@ask.id) %>" onclick="return Asks.toggleShareAsk(this,'share');" id="share_link"><%=t(:share)%></a> <samp><%=t(:or)%></samp>
          <a href="#" onclick="return Asks.toggleShareAsk(this,'invite');"><%=t(:invite_others_to_answer_this_question)%><% if @invites.count > 0 %> (<%= @invites.count %>)<% end %></a>
        </h2>
        <div class="inner">
          <div class="share">
            <a rel="nofollow" href="<%= share_ask_path(@ask.id) %>?type=email"><span class="has_icon email">Email</span></a>
            <a rel="nofollow" href="<%= share_ask_path(@ask.id) %>?type=url"><span class="has_icon url"><%=t(:forwarding_address)%></span></a>
          </div>
          <div class="invite" style="display:none">
            <input type="text" id="ask_to_answer" style="width:200px;" placeholder="<%=t(:search_people)%>" />
            <div id="ask_invited_users" class="clearfix">
              <% for item in @invites %>
                <% if item.count > 0 %>
                  <%= render "invited_user", :item => item %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          Asks.completeInviteToAnswer();
          $("#share_ask_box .inner .share a").facebox();
        </script>
      </div>
    <% end %>

		<div class="box standard gray">
			<h2><%=t(:issue_status)%></h2>
			<div class="inner">
				<p><%=t(:recent_activity)%>：<%= l @ask.last_updated_at ? @ask.last_updated_at.getlocal : (@ask.answered_at ? @ask.answered_at.getlocal : @ask.updated_at.getlocal), :format => :min %></p>
				<p><%=t(:viewed)%> <%= @ask.views_count %> <%=t(:times)%>，<%= @ask.followers.count %> <%=t(:people_are_concerned_about_the_problem)%></p>
				<% if @ask.user %>
				<p><%= user_name_tag(@ask.user) %> <%=t(:created_the_problem)%></p>
				<% end %>
				<div class="followers">
					<% for item in @ask.followers %>
            <%= user_avatar_tag(item,:small) %>
					<% end %>
				</div>
			</div>
    </div>
<% end %>
<% if params[:eawc] == "yes" or params[:easc] == "yes" %>
	<% content_for :scripts do %>
	  <script type="text/javascript">
			$(document).ready(function() {
				Asks.toggleComments('<%= params[:eawc] == "yes" ? "answer" : "ask" %>','<%= params[:eawc] == "yes" ? params[:awid] : params[:asid] %>');
			});
		</script>
	<% end %>
<% end %>
