<% content_for :styles do %>
  <%= stylesheet_link_tag("jquery.qeditor") %>
<% end %>
<% content_for :scripts do %>
  <%= javascript_include_tag("jquery.qeditor") %>
  <script type="text/javascript">
    function toggleComments(type,id){
      var el = $("#"+type+"_"+id);
      var comments = $(".comments",el);
      if(comments.length > 0){
        comments.toggle();
      }
      else{
        App.loading();
        $.get("/comments",{ type : type, id : id }, function(html){
          $(".action",el).after(html);
          App.loading(false);
        });
      }
      return false;
    }

    function vote(id,type){
      var answer = $("#answer_"+id);
      vtype = "down";
      if(type == 1) { vtype = "up"; }
      $(".vote_buttons a",answer).removeClass("voted");
      $(".vote_buttons a.vote_"+vtype,answer).addClass("voted");
      $(".action a",answer).removeClass("voted");
      $(".action a.vote_"+vtype,answer).addClass("voted");
      App.loading();
      $.get("/answers/"+id+"/vote",{ inc : type },function(votes_count){
        App.requireUser(votes_count,"text");
        vote_callback(id, votes_count);
        App.loading(false);
      });
      return false;
    }

    function vote_callback(id,votes_count){
      var answer = $("#answer_"+id);
      var answer_votes = $(".votes",answer);
      if(answer_votes.length > 0){
        $(".num",answer_votes).text(votes_count);
      }
      else {
        $(".author",answer).after("<div class=\"votes\"><span class=\"num\">"+votes_count+"</span> 票</div>");
      }

      var answers = $(".answer");
      var position_changed = false;
      for(var i =0;i<answers.length;i++){
        a = answers[i];
        if($(a).attr("id") == answer.attr("id")){
          continue;
        }
        v_count = 0;
        votes = $(".votes",a);
        if(votes.length > 0){
          v_count = parseInt($(".num",votes).text());
        }
        if(votes_count > v_count){
          $(a).before(answer);
          position_changed = true;
          break;
        }
        else{
          $(a).after(answer);
        }
      }
      answer.fadeOut(100).fadeIn(200);
    }

    function follow(el){
      if($(el).text() == "关注此问题"){
        f = 1;
        $(el).removeClass("green_button").text("取消关注");
      }
      else{
        f = 0;
        $(el).addClass("green_button").text("关注此问题");
      }
      $.get("/asks/<%= @ask.id %>/follow",{follow:f},function(s){ });
      return false;
    }

    function dropdownSettings(el){
      $(el).jDialog({
        title_visiable : false,
        width : 160,
        top_offset : -1,
        content : "<ul><li>asdgasdgasdgasdg</li></ul>"
      });
      $(el).attr("droped",1);
      return false;
    }
  </script>
<% end %>
<%= render 'base' %>
<div class="ask" id="ask_<%= @ask.id %>">
  <div class="topics"><%= topics_name_tag(@ask.topics) %></div>
  <div class="title">
    <h1 id="ask_title"><%= @ask.title %></h1>
    <%= in_place_edit_tag @ask, :title, :text_id => "ask_title" %>
  </div>
  <div class="md_body">
    <div id="ask_body"><%= md_body(@ask.body) %></div>
    <% if @ask.body.blank? %>
      <%= in_place_edit_tag @ask, :body, :type => :textarea, :text_id => "ask_body",:label => "添加补充资料" %>
    <% else %>
      <%= in_place_edit_tag @ask, :body, :type => :textarea, :text_id => "ask_body" %>
    <% end %>
  </div>
  <div class="action">
    <% if @ask.comments_count == 0 %>
      <a href="#" onclick="return toggleComments('ask','<%= @ask.id %>');">添加评论</a>
    <% else %>
      <a href="#" onclick="return toggleComments('ask','<%= @ask.id %>');"><%= @ask.comments_count %> 条评论</a>
    <% end %>
  </div>
</div>

<div class="answers">
  <% user_answered = false %>
  <% if !@answers.blank? %>
    <% @answers.each do |item| %>
      <% user_answered = true if owner?(item) %>
      <%= render("answer", :item => item) %>
    <% end %>
  <% end %>
</div>

<% if user_answered %>
  <div class="disabled_answer">一个问题你只能回答一次，但你可以对现有的回答进行修改。</div>
<% else %>
  <div class="answer_form from">
    <h2>添加答案</h2>
    <% if current_user %>
    <div class="user_info">
      <%= user_name_tag(current_user) %>
      <span id="answer_user_tagline"><%= user_tagline_tag(current_user) %></span>
      <%= in_place_edit_tag current_user, :tagline, :text_id => "answer_user_tagline", :label => "修改简介" %>
    </div>
    <% end %>
    <%= form_for(@answer, :remote => true, :url => answer_ask_path(@ask.id)) do |f| %>
      <div class="row">
        <%= f.text_area :body, :style => "height:100px;", :class => "text long" %>
      </div>
      <div class="actions">
        <button type="submit">提交回答</button>
      </div>
    <% end %>
    <script type="text/javascript">
      $("#answer_body").qeditor();
    </script>
  </div>
<% end %>
<% content_for :sidebar do %>
  <div class="box">
    <h2></h2>
    <div class="inner">
      <a href="#" style="width:80px;" class="gray_button green_button" onclick="return follow(this);">关注此问题</a>
      <a href="#" class="dropdown" onclick="return dropdownSettings(this);"><%= image_tag("settings.png",:style => "margin-bottom:-5px;") %></a>
    </div>
<% end %>
