<%= content_for :scripts do %>
  <script type="text/javascript">
    var current_page = 2;
    function loadAsks(){
      App.loading();
      $.get("<%= topic_path(params[:name],:format => :js) %>?page="+current_page,function(){
          App.loading(false);
      });
      return false;
    }

		function follow(el, id){
			$.get("/topics/"+id+"/follow",{}, function(res){
					$(el).replaceWith('<a href="#" style="width:80px;" class="gray_button" onclick="return unfollow(this, \'<%= @topic.id %>\');">取消关注</a>');
	    });
      return false;
    }
		
		function unfollow(el, id){
			$.get("/topics/"+id+"/unfollow",{}, function(res){
	        $(el).replaceWith('<a href="#" style="width:80px;" class="gray_button green_button" onclick="return follow(this, \'<%= @topic.id %>\');">关注此话题</a>');
	    });
      return false;
    }
  </script>
<% end %>
<div id="topic" class="clearfix">
  <div class="cover">
    <%= image_tag(@topic.cover.normal.url) %>
  </div>
  <div class="info">
    <h1><%= @topic.name %></h1>
    <div class="summary">
      <span id="topic_summary"><%= md_body @topic.summary  %></span>
      <% if @topic.summary.blank? %>
        <%= in_place_edit_tag @topic, :summary, :type => :textarea, :text_id => "topic_summary",:label => "添加补充资料" %>
      <% else %>
        <%= in_place_edit_tag @topic, :summary, :type => :textarea, :text_id => "topic_summary" %>
      <% end %>
    </div>
  </div>
</div>
<div id="asks" style="claer:both;">
  <% @asks.each do |item| %>
    <%= render "asks/ask", :item => item %>
  <% end %>
  <% if @asks.length == @per_page %>
    <div class="pagination"><a class="page_more" href="#" onclick="return loadAsks();">查看更多...</a></div>
  <% end %>
</div>

<% content_for :sidebar do %>
  <% if current_user %>
    <div class="box">
      <div class="inner">
				<% if current_user.topic_followed?(@topic) %>
				<a href="#" style="width:80px;" class="gray_button" onclick="return unfollow(this, '<%= @topic.id %>');">取消关注</a>
				<% else %>
        <a href="#" style="width:80px;" class="gray_button green_button" onclick="return follow(this, '<%= @topic.id %>');">关注此话题</a>
				<% end %>
      </div>
		</div>
	<% end %>

		<div class="box standard gray">
			<h2>最近关注此话题的人</h2>
			<div class="inner">
				<div class="followers">
					<% for follower in @topic.followers.desc("$natural").limit(20) %>
					<a href="/users/<%= follower.slug %>" title="<%= follower.name %>">
						<%= user_avatar_tag(follower, :small) %>
					</a>
					<% end %>
				</div>
			</div>
    </div>
<% end %>
