<div id="cpanel_ask" class="form">
<%= simple_form_for(@ask, 
  :url => (@ask.id.blank? ? cpanel_asks_path : cpanel_ask_path(@ask.id)) ) do |f| %>

  <div class="inputs">
  <%= f.input :title %>
  <%= f.input :body, :as => :text %>
  <%= f.input :user_id %>
  <%= f.input :spams_count %>
  <%= f.input :topics %>
  </div>
  <div class="actions">
    <button type="submit">提交</button>
     或者 <%= link_to '返回', cpanel_asks_path %>
  </div>
<% end %>
</div>
