<div class="ask" ask-id="<%= item.id %>">
  <div class="title"><a href="/asks/<%= item.id %>"><%= item.title %></a></div>
    <div class="info">
      <%= user_name_tag(item.user) %> 提出的问题
      • <%= item.answers_count %> 个答案 
			<% if current_user %>
				<% if current_user.ask_followed?(item) %>
      	• <a href="#" onclick="return Asks.simple_unfollow(this,'<%= item.id %>')">取消关注</a> 
				<% else %>
				• <a href="#" onclick="return Asks.simple_follow(this,'<%= item.id %>')">关注</a> 
				<% end %>
				<% if current_user.ask_muted?(item.id) %>
				• <a href="#" onclick="return Asks.unmute(this,'<%= item.id %>')">取消屏蔽</a> 
				<% else %>
      	• <a href="#" onclick="return Asks.mute(this,'<%= item.id %>')">不感兴趣</a> 
				<% end %>
			<% end %>
    </div> 
  <%
	mine_answer = item.answers.where(:user_id => @user.id).first
	if mine_answer
	%>
    <div class="last_answer answer">
      <div class="attr">
        <span class="votes"><%= mine_answer.votes_count %></span>
      </div>
      <div class="data">
      	<div class="md_body"><%= md_body(mine_answer.chomp_body) %></div>
      </div>
    </div>
  <% else %>
    <div class="md_body">
      <%= md_body(item.body) %>
    </div>
  <% end %>
</div>