<%= content_for :scripts do %>
  <script type="text/javascript">
    var current_page = 2;
    function loadAsks(){
      App.loading();
      $.get("<%= request.path %>.js?page="+current_page,function(){
          App.loading(false);
      });
      return false;
    }
  </script>
<% end %>
<div class="uname">
  <h1 id="user_name"><%= user.name %></h1>
</div>
<% if !user.website.blank? %>
  <div class="website">
    <a href="<%= user.website %>" rel="nofollow" target="_blank" id="user_website"><%= user.website %></a>
    <% if owner?user %> <%= in_place_edit_tag(user,:website, :text_id => "user_website") %> <% end %>
  </div>
<% end %>
<div class="tabs">
  <a<%= ' class=actived' if params[:action] == "show" %> href="<%= user_path(user.slug) %>">个人介绍</a>
  <a<%= ' class=actived' if params[:action] == "asked" %> href="<%= asked_user_path(user.slug) %>">问过</a>
  <a<%= ' class=actived' if params[:action] == "answered" %> href="<%= answered_user_path(user.slug) %>">回答过</a>
</div>
