<%= content_for :scripts do %>
  <script type="text/javascript">
    var current_page = 2;
    function loadAsks(){
      App.loading();
      $.get("<%= request.path %>.js?page="+current_page,function(){
          App.loading(false);
      });
      return false;
    }
  </script>
<% end %>
<div class="uname">
	<div class="avatar"><%= image_tag(user.avatar.normal.url) %></div>
	<div class="detail">
		<h1 id="user_name"><%= user.name %><span>，</span><span id="user_tagline"><%= user.tagline %></span>
    <% if owner?user %>
      <%= in_place_edit_tag(user,:tagline, :type => :textarea,:width => 200, :height => 80, 
                            :rich => false, :text_id => "user_tagline") %> 
    <% end %></h1>
		<% if !user.website.blank? %>
		  <div class="website">
		    <a href="<%= user.website %>" rel="nofollow" target="_blank" id="user_website"><%= user.website %></a>
		    <% if owner?user %> <%= in_place_edit_tag(user,:website, :text_id => "user_website") %> <% end %>
		  </div>
		<% end %>
		<div>
			<span id="user_bio">
	      <% if @user.bio.blank? and (not owner?@user) %>
	        <%= @user.name %>还没来得及写他的个人介绍.
	      <% else %>
	        <%= md_body @user.bio %>
	      <% end %>
	    </span>
	    <% if owner?@user %> <%= in_place_edit_tag(@user,:bio,:type => :textarea, :text_id => "user_bio", :label => "修改个人经历") %> <% end %>
		</div>
	</div>
</div>

<div class="tabs">
  <a<%= ' class=actived' if params[:action] == "show" %> href="<%= user_path(user.slug) %>">主页</a>
  <a<%= ' class=actived' if params[:action] == "asked" %> href="<%= asked_user_path(user.slug) %>">问过(<%= user.asks_count %>)</a>
  <a<%= ' class=actived' if params[:action] == "answered" %> href="<%= answered_user_path(user.slug) %>">回答过(<%= user.answered_ask_ids.count %>)</a>
	<!-- <a<%= ' class=actived' if params[:action] == "following" %> href="<%= following_user_path(user.slug) %>">关注(<%= user.following_ids.count %>)</a>
		<a<%= ' class=actived' if params[:action] == "followers" %> href="<%= followers_user_path(user.slug) %>">被关注(<%= user.follower_ids.count %>)</a> -->
	<a<%= ' class=actived' if params[:action] == "following_topics" %> href="<%= following_topics_user_path(user.slug) %>">关注的话题(<%= user.followed_topic_ids.count %>)</a>
</div>
