<% content_for :sidebar do %>
<div class="box">
  <div class="inner">
    <% if current_user and current_user != @user %>
	    <div class="box">
	      <div class="inner">
	        <% if current_user.followed?(@user) %>
					<a href="#" class="flat_button" onclick="return Users.unfollow(this, '<%= @user.slug %>','');">取消关注</a>
					<% else %>
	        <a href="#" class="green_button" onclick="return Users.follow(this, '<%= @user.slug %>','');">关注</a>
	        <!-- <a href="#" class="dropdown" onclick="return dropdownSettings(this);"><%= image_tag("settings.png",:style => "margin-bottom:-5px;") %></a> -->
					<% end %>
	      </div>
			</div>
		<% elsif owner? @user %>
			这就是你自己
		<% else %>
      登录后你可以关注<%= user_sex_title(@user) %>
		<% end %>
  </div>
</div>
<div class="box gray">
	<h2></h2>
	<ul class="follow-stats">
		<li>
			<a href="<%= followers_user_path(@user.slug) %>"><strong>
			<%= @user.follower_ids.size %></strong>
			<span>关注<%= user_sex_title(@user) %>的人</span>
			</a>
		</li>
		<li class="last">
			<a href="<%= following_user_path(@user.slug) %>"><strong>
			<%= @user.following_ids.size %></strong>
			<span><%= user_sex_title(@user) %>关注的人</span>
			</a>
		</li>
	</ul>
	<div class="user-regdate">注册于 <%= l user.created_at.to_date, :format => :long %></div>
</div>

<%= render_cell :user, :followed_topics, :user => @user, :current_user => current_user %>
<%= render_cell :user, :followers, :user => @user %>
<%= render_cell :user, :following, :user => @user %>


<% end %>
