<%= content_for :scripts do %>
  <script type="text/javascript">
    function follow_topic(el, id){
      App.loading();
			$.get("/topics/"+id+"/follow",{}, function(res){
        App.loading(false);
        $(el).replaceWith('<a href="#" onclick="return unfollow_topic(this, \''+id+'\');">取消关注</a>');
	    });
      return false;
    }
		
		function unfollow_topic(el, id){
      App.loading();
			$.get("/topics/"+id+"/unfollow",{}, function(res){
        App.loading(false);
        $(el).replaceWith('<a href="#" onclick="return follow_topic(this, \''+id+'\');">关注此话题</a>');
	    });
      return false;
    }
  </script>
<% end %>

<% content_for :sidebar do %>
<div class="box">
  <div class="inner">
    <% if current_user and current_user != @user %>
	    <div class="box">
	      <div class="inner">
	        <% if current_user.followed?(@user) %>
					<a href="#" style="width:80px;" class="gray_button" onclick="return unfollow(this, '<%= @user.slug %>');">取消关注</a>
					<% else %>
	        <a href="#" style="width:80px;" class="gray_button green_button" onclick="return follow(this, '<%= @user.slug %>');">关注</a>
	        <!-- <a href="#" class="dropdown" onclick="return dropdownSettings(this);"><%= image_tag("settings.png",:style => "margin-bottom:-5px;") %></a> -->
					<% end %>
	      </div>
			</div>
		<% else %>
			登录后你可以关注他
		<% end %>
  </div>
</div>
<div class="box gray">
	<h2></h2>
	<ul class="follow-stats">
		<li>
			<a href="<%= followers_user_path(@user.slug) %>" onclick="return false;"><strong>
			<%= @user.follower_ids.size %></strong>
			<span>关注他的人</span>
			</a>
		</li>
		<li class="last">
			<a href="<%= following_user_path(@user.slug) %>" onclick="return false;"><strong>
			<%= @user.following_ids.size %></strong>
			<span>他关注的人</span>
			</a>
		</li>
	</ul>
	<div class="user-regdate">注册于 <%= l user.created_at.to_date, :format => :long %></div>
</div>

<% if @user.followed_topic_ids.size > 0 %>
<div class="box gray">
	<h2>关注 <a href="<%= following_topics_user_path(@user.slug) %>"><%= @user.followed_topic_ids.size %>个话题</a></h2>
	<ul class="followed-item">
		<% for topic in @user.followed_topics.desc("$natural").limit(7) %>
		<%= render "topic", :topic => topic %>
		<% end %>
	</ul>
</div>
<% end %>

<% if @user.follower_ids.size > 0 %>
<div class="box standard gray">
	<h2>最近关注他的人</h2>
	<div class="inner">
		<div class="followers">
			<% for follower in @user.followers.desc("$natural").limit(40) %>
			<a href="/users/<%= follower.slug %>" title="<%= follower.name %>">
				<%= user_avatar_tag(follower, :small) %>
			</a>
			<% end %>
		</div>
	</div>
</div>
<% end %>

<% if @user.following_ids.size > 0 %>
<div class="box standard gray">
	<h2>他最近关注的人</h2>
	<div class="inner">
		<div class="followers">
			<% for follower in @user.following.desc("$natural").limit(40) %>
			<a href="/users/<%= follower.slug %>" title="<%= follower.name %>">
				<%= user_avatar_tag(follower, :small) %>
			</a>
			<% end %>
		</div>
	</div>
</div>
<% end %>

<% end %>
