<div class="user_profile">
  <h1><%= @user.name %></h1>
  <div class="tagline">
    <%= @user.tagline %>
  </div>
  <ul>
    <li class="info">
      注册于 <%= l @user.created_at, :format => :long %>
    </li>
    <li>
    <% if !@user.website.blank? %>
      <a href="<%= @user.website %>" rel="nofollow" target="_blank"><%= @user.website %></a>
    <% end %>
    </li>
  </ul>
  <div class="bio md_body">
    <% if @user.bio %>
      <%= @user.bio %>
    <% end %>
  </div>
</div>
<% content_for :sidebar do %>
<div class="box">
  <%= image_tag(@user.avatar.normal.url) %>
</div>
<% end %>

