<div class="user_profile">
  <%= render "head", :user => @user %>
  <div class="bio">
    <span id="user_bio">
      <% if @user.bio.blank? and (not owner?@user) %>
        <%= @user.name %>还没来得及写他的个人介绍.
      <% else %>
        <%= md_body @user.bio %>
      <% end %>
    </span>
    <% if owner?@user %> <%= in_place_edit_tag(@user,:bio,:type => :textarea, :text_id => "user_bio") %> <% end %>
  </div>
</div>
<%= render "sidebar", :user => @user %>
