<% content_for :sitemap do %><span class="current"><%= t(:forgot_password) %></span><% end %>
<div class="leftbox">
  <div class="box">
    <h1><%= t(:forgot_password) %></h1>
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= render "shared/error_messages", :target => resource %> 
      <%= f.input :email, :hint => "#{t(:password_mail_message)}" %>
      <div class="actions"><button type="submit" class="button submit"><%=t(:forgot_password) %></button></div>
    <% end %>
  </div>
</div>
<% content_for :sidebar do %>
  <div class="box">
    <h2></h2>
    <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>
