<% content_for :sitemap do %><span class="current"><%=t(:join_the_community)%></span><% end %>
<div class="leftbox">
	<div class="box">
    <% if not Setting.allow_register %>
      <h1><%=t(:how_to_registered_users)%>？</h1>
      <div class="content">
        <%=t(:to_control_the_quality_of_community_content)%>，<%=t(:invite_others_to_join_must)%>。<br />
        <%=t(:you_can_use_your_social_resources)%>，<%=t(:invite_you_to_find_other_people)%>。<br /><br />
        <p style="font-size:14px;"><%=t(:or_send_your_personal_data_to)%>: </p>
        <ul style="margin:10px 20px;">
          <% Setting.admin_emails.each do |email| %>
            <li><a href="mailto:<%= email %>"><%= email %></a></li>
          <% end%>
        </ul>
        <p><%=t(:after_we_review)%>，<%=t(:if_you_meet_the_requirements)%>，<%=t(:will_send_you)%><b><%=t(:invitation_link)%></b>，<%=t(:therefore)%>，<%=t(:please_try_to_describe_yourself)%>。
      </div>
    <% else %>
      <h1><%=t(:new_user_registration)%></h1>
      <p style="color:green; margin-bottom:10px;"><%=t(:provisional_registration_period_is_currently_open)%>，<%=t(:if_you_have_not)%><%= Setting.app_name %><%=t(:account_then)%>，<%=t(:hurry_up_now)%>！</p>
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name) ) do |f| %>
        <%= render "shared/error_messages", :target => resource %> 
        <%= f.input :name, :label => "#{t(:name)}（#{t(:can_not_be_changed_after_registration)}）" %>
        <%= f.input :email, :label => "#{t(:email)}" %>
        <%= f.input :password, :as => :password, :label => "#{t(:password)}" %>
        <%= f.input :password_confirmation, :as => :password, :label => "确认#{t(:password)}"  %>
        <div class="actions"><button type="submit" class="button submit"><%=t(:submit_registration_information)%></button></div>
      <% end %>
    <% end %>
  </div>
</div>
<div style="margin-top:20px;" class="sidebar">
  <div class="box">
    <h2><%=t(:already_have_an_account_of_the)%>？</h2>
    <p style="line-height:20px;">
    <%= render :partial => "devise/shared/links" %>
    </p>
  </div>
  <div class="box">
    <h2><%=t(:about_registration)%></h2>
    <div class="inner">
      <%= Setting.app_name %><%=t(:itself_can_be_invited_to_register)%>，<%=t(:but_we_will_occasionally_some_special_days_in_the_temporary_open_up)%>。<br />
      <%=t(:if_you_see_this_page)%>，<%=t(:congratulations_you)%>，<%=t(:hurry_up_now)%>，<%=t(:if_you_have_not)%><%= Setting.app_name %><%=t(:account_then)%>。
    </div>
  </div>
</div>
