<%= content_for :styles do %>
  <style type="text/css">
    #about {}
    #about h2 { border-top:1px dashed #ccc; padding-top:10px; margin-top:20px; margin-bottom:10px; font-size:14px; }
  </style>
<% end %>
<div id="about">
  <h1><%=t(:who_is_also_on_the)%></h1>
  <div class="md_body">
    <%=t(:we_are_a_group_of_programmers_who_aspire_to_a_free_and_open)%>，<%=t(:determined_to_build_an_open_question_and_answer_community_site)%>。<br />
    <%=t(:we_are_happy_to_share_our_project_source_code_and_design_ideas)%>，<%=t(:for_a_nonprofit_personal_purposes)%>，<%=t(:companies_use)%>。
  </div>
  <h2><%=t(:team_members)%></h2>
  <div class="team">
    <% @users.each do |u| %>
      <%= user_avatar_tag(u,:normal) %>
    <% end %>
  </div>
  <h2><%=t(:contributors)%></h2>
  <div class="contributors">
    <ul>
      <li><a href="https://github.com/saberma">Saberma</a></li>
			<li><a href="https://github.com/caili">caili</a></li>
			<li><a href="https://github.com/hooopo">Hooopo</a></li>
    </ul>
  </div>
</div>
<%= content_for :sidebar do %>
  <div class="box">
    <h2><%=t(:frequently_asked_questions)%></h2>
    <ul> 
      <li><a href="http://zheye.org/asks/4d92a076fd503c480e00002a"><%=t(:why_play)%>“<%=t(:are_also)%>”<%=t(:the_name)%>？</a></li> 
      <li><a href="http://zheye.org/asks/4d95f33bfd503c3bf2000011"><%=t(:are_also)%>每天都做了哪些更新？</a></li> 
      <li><a href="http://zheye.org/asks/4d95a178fd503c6ad6000030"><%=t(:code_deploy_and_easy_for_secondary_development)%>？</a></li> 
      <li><a href="http://zheye.org/asks/4d95ee5bfd503c2652000039"><%=t(:are_also)%>比知乎好在哪里？</a></li> 
      <li><a href="http://zheye.org/asks/4d92db71fd503c7c03000188"><%=t(:what_can_change_the_user_name)%>？</a></li> 
      <li><a href="http://zheye.org/asks/4d94325efd503c17a5000004"><%=t(:are_also)%>是个怎样的问答社区？</a></li> 
    </ul>
  </div>
<% end %>
