<%= render :partial => 'logs/notifies' %>

<div class="newbie">
	<h1><%=t(:welcome_to_those_who_have)%></h1>
	<div class="welcome">
		<%=t(:here_is_a_variety_to_satisfy_your_curiosity)%>、<%=t(:knowledge)%>、<%=t(:discover)%>、<%=t(:social)%>、<%=t(:desire_to_place_the_discussion)%>。<%=t(:her_numerous_industries_from_many_parts_of_the)%> <span class="orange"><%=t(:people)%></span>、<%=t(:they_proposed_a_variety_of)%> <span class="green"><%=t(:problem)%></span> 以及各个用以组织<%=t(:problem)%>的 <span class="purple"><%=t(:topic)%></span> <%=t(:composition)%>。<%=t(:you_can_use_the_search_box_at_the_top_to_try_to_search_for_the_keywords_you_are_interested_in)%>，并关注一些<%=t(:topic)%>、<%=t(:problem)%>或者人。<%=t(:when_you_look_over_after)%>，<%=t(:you_can_see_these_people)%>、<%=t(:problem)%>的动态，<%=t(:you_can_also)%>“<a href="/followed">我关注的<%=t(:problem)%></a>”里看到你感兴趣的新老<%=t(:problem)%>。
	</div>
	<br>
	<%=t(:sometimes_go)%>“<a href="<%= doing_path %>"><%=t(:were_also_taking_place)%></a>”闲逛也是不错的发现感兴趣的<%=t(:problem)%>和讨论的方法。
	<br>
	<br>
	
	<% if !@hot_topics.nil? and @hot_topics.size > 0 %>
	<h2>或者你可以去看看这些最近比较热门的<%=t(:topic)%>：</h2>
	<ul class="hot-topics">
		<% for topic in @hot_topics %>
		<li><a href="<%= topic_path(topic) %>"><%= topic %></a></li>
		<% end %>
	</ul>
	<% end %>
	
	<% 
	waiting_asks = @asks.where(:answers_count.lte => 2).where(:created_at.lte => (Time.now - 12.hours)).limit(10)
	if waiting_asks.size > 0
	%>
	<br>
	<h2>又或者是去给这些等待回答的<%=t(:problem)%>添加一些你所知道的答案：</h2>
	<ul class="hot-asks">
		<% for ask in waiting_asks %>
		<li><a href="<%= ask_path(ask) %>"><%= ask.title %></a></li>
		<% end %>
	</ul>
	<% end %>
	
	<% if @asks.size > 0 %>
	<br>
	<h2>还可以看看这些热门<%=t(:problem)%>：</h2>
	<ul class="hot-asks">
		<% for ask in @asks.order_by(:answers_count.desc, :views_count.desc).limit(10) %>
		<li><a href="<%= ask_path(ask) %>"><%= ask.title %></a></li>
		<% end %>
	</ul>
	<% end %>
	
	<br>
	<p>
		<%=t(:good_luck_in_your)%>“<%=t(:are_also)%>”<%=t(:happy)%>。
	</p>
</div>
<%= render "asks/sidebar" %>
