<%= content_for :sitemap do %>
<span class="current">列表</span>
<% end %>
<%= render 'base' %>

<div id="cpanel_comments">
  <table class="wice_grid">
    <thead>
      <tr class="wice_grid_title_row">
        <th>用户</th>
        <th>内容</th>
        <th>时间</th>
        <th></td>
      </tr>
    </thead>
    <tbody>
      <% @comments.each_with_index do |item,i| %>
        <tr class="<%= i.odd? ? "odd" : "even" %>">
          <td><%= user_name_tag(item.user) %></td>
          <td><%= item.body %></td>
          <td style="width:100px;"><%= l item.created_at, :format => :short %></td>
          <td style="width:50px;">
            <%= link_to '修改', edit_cpanel_comment_path(item.id) %>
            <%= link_to image_tag("wice_grid/delete.png", :style => "margin-bottom:-4px"), cpanel_comment_path(item.id), :method => :delete, :confirm => '确定要删除吗?' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @comments %>
</div>


