<%= content_for :base_sitemap do %>
<a href="<%= cpanel_answers_path %>">cpanel_answers</a> » 
<% end %>
<%= content_for :styles do %>
<% end %>

<%= spaceless do %>
<div class="tools">
  <a href="<%= cpanel_answers_path %>" class="button small left<%= ' checked' if params[:action] == "index" %>">查看所有</a>
  <% if ["edit","update"].index(params[:action]) %>
  <a href="#" class="button small checked">编辑</a>
  <% end %>
  <a href="<%= new_cpanel_answer_path %>" class="button small right<%= ' checked' if ["new","create"].index(params[:action]) %>">新建</a>
</div>
<% end %>
