<% content_for :sitemap do %><span class="current">加入社区</span><% end %>
<div class="leftbox">
	<div class="box">
    <h1>登录</h1>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :email, :label => "邮箱" %>
      <%= f.input :password, :as => :password, :label => "密码" %>
      <% if devise_mapping.rememberable? -%>
        <div class="row"><%= f.check_box :remember_me, :style => "width:auto;" %> <%= f.label :remember_me,"记住登录状态", :style => "display:inline;" %></div>
      <% end -%>
    <div class="field"><button type="submit" class="button submit">登录</button></div>
    <% end %>
  </div>
</div>
<% content_for :sidebar do %>
  <div class="box">
    <h2>还没有帐号？</h2>
    <%= render :partial => "devise/shared/links" %>
  </div>
  <%= render "/shared/omniauth_links" %>
<% end %>
