<% content_for :sitemap do %><span class="current">加入社区</span><% end %>
<div class="leftbox">
	<div class="box">
    <h1><%=t(:login) %></h1>
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.input :email, :label => "#{t(:email)}" %>
      <%= f.input :password, :as => :password, :label => "#{t(:password)}" %>
      <% if devise_mapping.rememberable? -%>
        <div class="row"><%= f.check_box :remember_me, :style => "width:auto;" %> <%= f.label :remember_me,"#{t(:remember_me)}", :style => "display:inline;" %></div>
      <% end -%>
    <div class="field"><button type="submit" class="button submit"><%=t(:login) %></button></div>
    <% end %>
  </div>
  <% if Setting.allow_register %>
  <div class="box" style="margin-top:20px;">
    <div class="inner" style="line-height:180%;padding:8px;background:#fff5c9;">
      <%= Setting.app_name %>本身需要邀请才可以注册的，但是我们会偶尔在一些特别的日子临时性的开放注册。<br />
      当你看到这个提示的时候赶紧<a href="/register" style="color:green;margin:0 4px;">注册</a>吧，如果你还没有<%= Setting.app_name %>帐号的话。
    </div>
  </div>
  <% end %>
</div>
<div style="margin-top:20px;" class="sidebar">
  <div class="box">
    <h2><%=t(:no_account) %>?</h2>
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
