<div id="<%= singular_table_name %>" class="form">
<%%= simple_form_for(@<%= file_name %>, 
  :url => (@<%= file_name %>.id.blank? ? <%= index_helper %>_path : <%= singular_table_name %>_path(@<%= file_name %>)) ) do |f| %>

  <div class="inputs">
<% for attribute in attributes -%>
  <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
<% end -%>
  </div>
  <div class="actions">
    <button type="submit">提交</button>
     或者 <%%= link_to '返回', <%= index_helper %>_path %>
  </div>
<%% end %>
</div>
