<div id="cpanel_topic" class="form">
<%= simple_form_for(@topic, 
  :url => (@topic.id.blank? ? cpanel_topics_path : cpanel_topic_path(@topic.id)) ) do |f| %>

  <div class="inputs">
  <%= f.input :name %>
  <%= f.input :summary, :as => :text %>
  <%= f.input :cover %>
  <%= f.input :asks_count %>
  </div>
  <div class="actions">
    <button type="submit">提交</button>
     或者 <%= link_to '返回', cpanel_topics_path %>
  </div>
<% end %>
</div>
