<%
log.action = "" if log.action.blank?
action = log.action.gsub("ADDTOPIC", "ADD_TOPIC").gsub("DELTOPIC", "DEL_TOPIC")

case log._type
when "AskLog"
	item = log.ask
	if !item.blank? and item.spams_count < Setting.ask_spam_max
%>
	<div class="ask" ask-id="<%= log.id %>">
		<div class="savatar">
      <%= user_avatar_tag(log.user,:small) %>
    </div>
    <%
      case action
    %>
    <% when "ADD_TOPIC", "DEL_TOPIC","EDIT" %>
      <div class="title small_title"><%= ask_title_tag(item) %></div>
    <% else %>
      <div class="title"><%= ask_title_tag(item) %></div>
    <% end %>
    <div class="info">
      <%
        case action
        when "NEW"
      %>
      <%= user_name_tag(log.user) %> <%=t(:add_the_problem)%>
      <% when "NEW_TO_USER" %>
        <%= user_name_tag(log.user) %> <%=t(:to)%> <%= user_name_tag(item.to_user) %> <%=t(:issues_raised)%>
      <% when "EDIT" %>
      <%= user_name_tag(log.user) %> <%= log.target_attr == "TITLE" ? "#{t(:modify_the_problem)}" : "#{t(:modify_the_problem)}#{t(:the)}补充说明" %>
      <% when "ADD_TOPIC" %>
      <%= user_name_tag(log.user) %> <%=t(:add_the_topic_to_the_problem)%> 
        <%
          topics = log.title.split(',')
          for topic in topics
        %>
        <a href="/topics/<%= topic %>">#<%= topic %></a> &nbsp;
        <% end %>
      <% when "DEL_TOPIC" %>
      <%= user_name_tag(log.user) %> <%=t(:remove_the_subject_from_the_issue)%> 
        <%
          topics = log.title.split(',')
          for topic in topics
        %>
        <a href="/topics/<%= topic %>">#<%= topic %></a> &nbsp;
        <% end %>
      <% end %>
      
      <% if ["NEW", "EDIT"].include?(log.action) %>
        • <%= item.answers_count %> 个答案 
        <% if current_user %>
          <% if current_user.ask_followed?(item) %>
          • <a href="#" onclick="return Asks.simple_unfollow(this,'<%= item.id %>')"><%=t(:cancel_concern)%></a> 
          <% else %>
          • <a href="#" onclick="return Asks.simple_follow(this,'<%= item.id %>')">关注</a> 
          <% end %>
          <% if current_user.ask_muted?(item.id) %>
          • <a href="#" onclick="return Asks.unmute(this,'<%= item.id %>')"><%=t(:unmasked)%></a> 
          <% else %>
          • <a href="#" onclick="return Asks.mute(this,'<%= item.id %>')"><%=t(:not_interested)%></a> 
          <% end %>
        <% end %>
      <% end %>
    </div> 
	</div>
<%
	end
when "UserLog"
	answer = item = nil
	if ["FOLLOW", "UNFOLLOW"].include?(action)
    item = Ask.first(:conditions => {:id => log.target_id})
	elsif ["FOLLOW_TOPIC", "UNFOLLOW_TOPIC"].include?(action)
		item = Topic.first(:conditions => { :id => log.target_id })
	elsif ["FOLLOW_USER", "UNFOLLOW_USER"].include?(action)
    item = User.first(:conditions => { :id => log.target_id})
	elsif ["AGREE"].include?(action)
    answer = Answer.first(:conditions => {:id => log.target_id})
    if !answer.blank?
      item = answer.ask
    end
  elsif ["THANK_ANSWER"].include?(action)
    item = Answer.first(:conditions => {:id => log.target_id})
	end

	if !item.nil? or (item.is_a?(Ask) and item.spams_count < Setting.ask_spam_max)
%>	
	<div class="ask" ask-id="<%= log.id %>">
		<% if ["FOLLOW_TOPIC", "UNFOLLOW_TOPIC"].include?(action) %>
	  <div class="title small_title"><%= user_name_tag(log.user) %> <%= action == "FOLLOW_TOPIC" ? "关注" : "#{t(:cancel_concern)}" %><%=t(:the_topic)%> <a href="/topics/<%= item.name %>">#<%= item.name %></a></div>
		<% elsif ["FOLLOW_USER", "UNFOLLOW_USER"].include?(action) %>
	  <div class="title small_title"><%= user_name_tag(log.user) %> <%= action == "FOLLOW_USER" ? "关注" : "#{t(:cancel_concern)}" %><%=t(:a)%> <%= user_name_tag(item) %></div>
    <% elsif action == "THANK_ANSWER"  %>
      <div class="title small_title"><%= user_name_tag(log.user) %> 感谢<%=t(:a)%> <%= user_name_tag(item.user) %> 
        <%=t(:in)%> <a href="/asks/<%= log.target_parent_id %>?nr=1#answer_<%= log.target_id %>"><%= log.target_parent_title %></a> <%=t(:the_answer)%>。 </div>
		<% else %>
			<div class="savatar">
	      <%= user_avatar_tag(log.user,:small) %>
	    </div>
    <div class="title<% if ["FOLLOW", "UNFOLLOW"].include?(action) %> small_title<% end %>"><%= ask_title_tag(item) %></div>
      <div class="info">
        <%= user_name_tag(log.user) %> <%= action == "FOLLOW" ? "关注#{t(:a)}该问题" : (action == "UNFOLLOW" ? "#{t(:cancel_concern)}#{t(:a)}该问题" : "#{t(:agree_with_the_answer)}") %>
        • <%= item.answers_count %> 个答案 
        <% if current_user %>
          <% if current_user.ask_followed?(item) %>
          • <a href="#" onclick="return Asks.simple_unfollow(this,'<%= item.id %>')"><%=t(:cancel_concern)%></a> 
          <% else %>
          • <a href="#" onclick="return Asks.simple_follow(this,'<%= item.id %>')">关注</a> 
          <% end %>
          <% if current_user.ask_muted?(item.id) %>
          • <a href="#" onclick="return Asks.unmute(this,'<%= item.id %>')"><%=t(:unmasked)%></a> 
          <% else %>
          • <a href="#" onclick="return Asks.mute(this,'<%= item.id %>')"><%=t(:not_interested)%></a> 
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if ["AGREE"].include?(action) %>
    <div class="last_answer answer">
      <div class="attr">
        <span class="votes" rel="tipsyt" title="#{t(:number_of_people_to_vote)}"><%= answer.votes_count %></span>
      </div>
			<div class="data">
				<div class="author">
					<%= user_name_tag(answer.user) %><%= user_tagline_tag(answer.user) %>
				</div>
				<div class="md_body">
					<% if answer.chomp_body.gsub(/<.*?>/,'').length <= 100 %>
					<%= md_body(answer.chomp_body) %>
					<% else %>
					<div class="full-body" id="awb_<%= log.id %>_<%= answer.id %>"><%= md_body(answer.chomp_body) %></div>
          <div id="aws_<%= log.id %>_<%= answer.id %>"><%= raw truncate(answer.body.gsub(/<.*?>/,''),:length => 100, :truncate_string =>"……") %> 
          <a class="smore" href="#" onclick="return show_all_answer_body('<%= log.id %>', '<%= answer.id %>')">(<%=t(:more)%>)</a></div>
					<% end %>
				</div>
			</div>
    </div>
    <% end %>
	</div>
<%
	end
when "AnswerLog"
	if log.answer
		item = log.answer.ask
		if !item.nil? and item.spams_count < Setting.ask_spam_max
%>
	<div class="ask" ask-id="<%= item.id %>">
		<div class="savatar">
      <%= user_avatar_tag(log.user,:small) %>
    </div>
    <div class="title"><%= ask_title_tag(item) %></div>
	    <div class="info">
	      <%= user_name_tag(log.user) %> <%= action == "NEW" ? "回答#{t(:a)}该问题" : "修改#{t(:a)}自己#{t(:the)}回答" %>
	      • <%= item.answers_count %> 个答案 
				<% if current_user %>
					<% if current_user.ask_followed?(item) %>
	      	• <a href="#" onclick="return Asks.simple_unfollow(this,'<%= item.id %>')"><%=t(:cancel_concern)%></a> 
					<% else %>
					• <a href="#" onclick="return Asks.simple_follow(this,'<%= item.id %>')">关注</a> 
					<% end %>
					<% if current_user.ask_muted?(item.id) %>
					• <a href="#" onclick="return Asks.unmute(this,'<%= item.id %>')"><%=t(:unmasked)%></a> 
					<% else %>
	      	• <a href="#" onclick="return Asks.mute(this,'<%= item.id %>')"><%=t(:not_interested)%></a> 
					<% end %>
				<% end %>
	    </div> 
			<% if action == "NEW" and log.user %>
	    <div class="last_answer answer">
	      <div class="attr">
          <span class="votes" rel="tipsyt" title="#{t(:number_of_people_to_vote)}"><%= log.answer.votes_count %></span>
	      </div>
				<div class="data">
					<div class="author">
						<%= user_name_tag(log.user) %>，<%= user_tagline_tag(log.user) %>
					</div>
					<div class="md_body">
						<% if log.answer.chomp_body.gsub(/<.*?>/,'').length <= 100 %>
						<%= md_body(log.answer.chomp_body) %>
						<% else %>
						<div class="full-body" id="awb_<%= log.id %>_<%= log.answer.id %>"><%= md_body(log.answer.chomp_body) %></div>
            <div id="aws_<%= log.id %>_<%= log.answer.id %>"><%= raw truncate(log.answer.body.gsub(/<.*?>/,''),:length => 100, :truncate_string =>"……") %> 
              <a href="#" class="smore" onclick="return show_all_answer_body('<%= log.id %>', '<%= log.answer.id %>')">(<%=t(:more)%>)</a></div>
						<% end %>
					</div>
				</div>
	    </div>
			<% end %>
	</div>
<% 
		end
	end
when "TopicLog"
	item = log.topic
	if !item.nil?
%>
  <div class="ask" ask-id="<%= log.id %>">
    <div class="title small_title">
    <% if log.action == "EDIT" %>
      <%= user_name_tag(log.user) %> <%=t(:as_the_topic)%> <a href="/topics/<%= item.name %>">#<%= item.name %></a> 
      <%=t(:the)%><%= log.target_attr == "COVER" ?  "上传#{t(:a)}封面图片。" : "提交#{t(:a)}介绍。" %>
    <% else %>
      <%= user_name_tag(log.user) %> 创建<%=t(:the_topic)%> <a href="/topics/<%= item.name %>">#<%= item.name %></a>
    <% end %>
      
    </div>
  </div>
<%
	end
when "CommentLog"
	item = log.comment
	if !item.nil?
		case item.commentable_type
		when "Ask"
%>
	<div class="ask" ask-id="<%= log.id %>">
	  <div class="title small_title"><%= user_name_tag(log.user) %> 评论<%=t(:a)%>问题 <a href="/asks/<%= log.target_parent_id %>?easc=yes&asid=<%= log.target_parent_id %>#ask_comments">#<%= log.title %></a></div>
	</div>
<%
		when "Answer"
%>
	<div class="ask" ask-id="<%= log.id %>">
	  <div class="title small_title"><%= user_name_tag(log.user) %> 评论<%=t(:a)%>问题 <a href="/asks/<%= log.target_parent_id %>?eawc=yes&awid=<%= log.title %>#answer_<%= log.title %>">#<%= log.target_parent_title %></a> <%=t(:the_answer)%></div>
	</div>
<%
		end
	end
end
%>
