<%= content_for :scripts do %>
  <script type="text/javascript">
    var current_page = 2;
    function loadLogs(){
      App.loading();
      $.get("<%= request.path %>.js?page="+current_page,function(){
          App.loading(false);
      });
      return false;
    }

		function mark_notifies_as_read(el, ids) {
			App.loading();
			$.get("/mark_notifies_as_read?ids="+ids,function(){
          App.loading(false);
					$(el).parent().parent().fadeOut();
      });
      return false;
		}

		function expand_notification(el, type, id) {
			var items = $("#N" + type + "_" + id + "_items");
			
			if (items.hasClass("force-show")) {
				items.removeClass("force-show");
			} else {
				items.addClass("force-show");
			}
			return false;
		}
  </script>
<% end %>

<% if @notifies and @notifies.size > 0 %>
<div class="listing notifications box standard-box">
	<h3>新通知</h3>
	<%
	@notifies.each do |k, children|
		next if k.to_s.blank?
	%>
	<div class="notification">
		<%
		case children[:type]
		when "USER"
		%>
		<%= raw children[:items].map {|n| (n.log and n.log.user) ? user_name_tag(User.find(n.log.user_id)) : "" }.uniq.join("、") %> 关注了你
		<%
		when "ASK"
			ask = Ask.find(k)
			if ask
		%>
				<%
				if children[:items].size > 1
					items = []; comments = []
					children[:items].each do |item|
						if item.action == "NEW_COMMENT" and !comments.include?("#{item.targer_id},#{item.user_id}")
							items << item
							comments << "#{item.targer_id},#{item.user_id}"
						elsif item.action != "NEW_COMMENT"
							items << item
						end
					end
				%>
					<div class="notification-title" id="NASK_<%= ask.id %>_title">
						<div class="title">
              <a href="#" class="expand" onclick="return expand_notification(this, 'ASK', '<%= ask.id %>')"><%= items.size %>项</a> 关于问题 <a href="<%= ask_path(ask) %>"><%= ask.title %></a>
						</div>
					</div>
					<ul class="notification-items" id="NASK_<%= ask.id %>_items">
						<%
						items.each do |item|
							if item.log
						%>
            <li><%= raw ask_notification_tag(item.target_id, item.log, item.action, false) %><span class="time"><%= l item.log.created_at, :format => :short %></span></li>
						<%
							end
						end
						%>
					</ul>
				<%
				else
					notify = children[:items].first
					if notify and notify.log
				%>
				<%= raw ask_notification_tag(notify.target_id, notify.log, notify.action, true) %>
        <span class="time"><%= l notify.log.created_at, :format => :short %></span>
				<%
					end
				end
				%>
		<%
			end
		end
		%>
	</div>
	<% end %>
	<div class="actions">
		<a href="#" class="gray_button small" onclick="return mark_notifies_as_read(this, '<%= @notifications.map {|n| n.id}.join(',') %>');">清除这些提醒</a>
	</div>
</div>
<% end %>

<div class="listing">
<% for log in @logs %>
<%= render "logs/log", :log => log %>
<% end %>
</div>

<% if @logs.length == @per_page %>
  <div class="pagination"><a class="page_more" href="#" onclick="return loadLogs();">查看更多...</a></div>
<% end %>

<%= render "asks/sidebar" %>
