<%= spaceless do %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <title><%= raw @page_title %><%= Setting.app_name %></title>
  <%= stylesheet_link_tag "application","users","asks","mobile","facebox","jquery.jdialog","jquery.qeditor","jquery.autocomplete", :cache => "cached_mobile_front" %>
	<%= yield :styles %>
  <link rel="shortcut icon" href="/favicon.ico?v=003" /> 
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery.min","rails","facebox","jquery.jdialog","jquery.qeditor","jquery.autocomplete", "jquery.cookie" ,"jcaches","application","asks","topics","users", :cache => "cached_application" %>
  <%= yield :scripts %>
  <script type="text/javascript">
    <% if current_user %>
    var logined = true;
    <% else %>
    var logined = false;
    <% end %>
  </script>
</head>
<body class="mobile">
  <div id="header">
    <div class="container">
      <div id="site_name">
        <a href="/"><%= image_tag("logo.png") %></a>
      </div>
      <div id="add_ask">
        <input type="text" placeholder="<%=t(:search_problems)%>，<%=t(:topic)%>，<%=t(:member)%>" />
        <a href="/asks/new" onclick="return addAsk();"><%= image_tag("add_ask.gif") %></a>
      </div>
      <script type="text/javascript">
        Asks.completeAll($("#add_ask input"));
      </script>
    </div>
  </div>
  <div id="sidebar">
    <div class="container">
      <%= yield :sidebar %>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="left_wrapper">
        <% if !@notice.blank? %>
          <% if cookies[:hide_notice] != @notice.id.to_s %>
            <div id="sys_notice">
              <%= raw @notice.body %>
              <div class="info">
                <span class="date"><%= l @notice.updated_at.getlocal, :format => :long %></span>
                <a href="#" class="gray_button small" onclick="return App.hideNotice('<%= @notice.id %>');"><%=t(:i_know)%></a>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if !notice.blank? %>
          <div class="notice_message"><%= notice %></div>
          <script type="text/javascript">
            $(".notice_message").fadeOut().fadeIn();    
          </script>
        <% end %>
        <% if !alert.blank? %>
          <div class="alert_message"><%= alert %></div>
          <script type="text/javascript">
            $(".alert_message").fadeOut().fadeIn();    
          </script>
        <% end %> 
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <a href="/"><%=t(:mobile_home)%></a>
      <% if not current_user %>
        <a href="/login"><%=t(:login)%></a>
        <a href="/register"><% if Setting.allow_register %><%=t(:up)%><%else%>如何才能<%=t(:up)%>?<%end%></a>
      <% else %>
        <%= user_name_tag(current_user) %>
        <a href="/logout"><%=t(:logout)%></a>
      <% end %>
      <a style="float:right;" href="/?force_format=desktop"><%=t(:regular_edition)%></a>
    </div>
  </div>
  <%= yield :bottom %>
  <div style="display: none;" id="hidden_new_ask">
    <h2><%=t(:create_new_problems)%></h2>
    <form action="/asks" method="post" id="inner_new_ask">
      <%= auth_token %>
      <textarea type="text" name="ask[title]" class="title" placeholder="<%=t(:enter_your_question_here)%>"></textarea>
      <label><%=t(:optional)%>:</label><%=t(:add_more_description)%>
      <textarea type="text" name="ask[body]"></textarea>
      <button type="submit" class="submit"><%=t(:add_a_question)%></button> <a href="#" onclick="$.facebox.close(); return false;"><%=t(:cancel)%></a>
    </form>
  </div>
  <div style="display: none;" id="loading"> 
    <div class="logo"></div> 
    <div class="text"><%=t(:loading)%>…</div> 
  </div> 
  <div style="width:0px;height:0px;overflow:hidden;">
    <%= image_tag("loading.gif") %>
    <div id="report_page">
      <h2><%=t(:report_content)%></h2>
      <form id="report_page_form" action="/report.js" onsubmit="App.loading();" method="post" class="simple_form">
        <%= auth_token %>
        <div class="row">
          <input type="hidden" name="url" value="<%= request.url %>" />
          <label class="string"><%=t(:please_fill_in_the_reasons_reported)%>:</label>
          <textarea name="desc" style="width:250px;height:80px;"></textarea>
        </div>
        <div class="acitons">
          <button type="submit"><%=t(:submitted)%></button> <a href="#" style="margin-left:5px;" onclick="$.facebox.close(); return false;"><%=t(:close)%></a>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= Setting.google_analytics_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
<% end %>
