<%= spaceless do %>
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title><%= raw @page_title %><%= Setting.app_name %></title>
  <%= stylesheet_link_tag "application","front","facebox", :cache => "cached_front" %>
	<%= yield :styles %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <link rel="shortcut icon" href="/favicon.ico?v=001" /> 
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery.min","rails","facebox","application", :cache => "cached_application" %>
  <%= yield :scripts %>
  <script type="text/javascript">
    function addAsk(){
      $.facebox({ div : "#hidden_new_ask", overlay : false });
      return false;
    }
  </script>
</head>
<body>
  <div id="header">
    <div class="container">
      <div class="left_wrapper">
        <div id="site_name">
          <a href="/"><%= Setting.app_name %></a>
        </div>
        <div id="add_ask">
          <input type="text" placeholder="搜索问题, 话题 或 会员" />
          <a href="/asks/new" onclick="return addAsk();">我要提问</a>
        </div>
      </div>
      <div class="sidebar">
        <div id="user_bar">
          <a href="/">首页</a>
          <% if not current_user %>
          <a href="/login">登陆</a>
          <a href="/register">注册</a>
          <% else %>
            <%= user_name_tag(current_user) %>
            <%= link_to('设置', edit_user_registration_path) %>
            <a href="/logout">退出</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="left_wrapper">
        <% if !notice.blank? %>
          <div class="notice_message"><%= notice %></div>
          <script type="text/javascript">
            $(".notice_message").fadeOut().fadeIn();    
          </script>
        <% end %>
        <% if !alert.blank? %>
          <div class="alert_message"><%= alert %></div>
          <script type="text/javascript">
            $(".alert_message").fadeOut().fadeIn();    
          </script>
        <% end %> 
        <%= yield %>
      </div>
      <div class="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="left_wrapper">
        <p class="copyright">
          <%= raw Setting.foot_html %>
        </p>
      </div>
    </div>
  </div>
  <%= yield :bottom %>
  <div style="display: none;" id="hidden_new_ask">
    <form action="/asks" method="post" id="inner_new_ask">
      <%= auth_token %>
      <textarea type="text" name="ask[title]" class="title" placeholder="在这里输入问题"></textarea>
      <label>可选:</label>添加更多描述
      <textarea type="text" name="ask[body]"></textarea>
      <button type="submit" class="submit">添加问题</button> <a href="#" onclick="$.facebox.close(); return false;">取消</a>
    </form>
  </div>
  <div style="display: none;" id="loading"> 
    <div class="logo"></div> 
    <div class="text">加载中…</div> 
  </div> 
</body>
</html>
<% end %>
