<% spaceless do %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title><%= raw @page_title %><%= Setting.app_name %></title>
  <%= stylesheet_link_tag "application","front","facebox","jquery.jdialog","jquery.qeditor", :cache => "cached_front" %>
	<%= yield :styles %>
  <meta name="keywords" content="<%= @meta_keywords %>" />
  <meta name="description" content="<%= @meta_description %>" />
  <link rel="shortcut icon" href="/favicon.ico?v=003" /> 
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery.min","rails","facebox","jquery.jdialog","jquery.qeditor","jcaches","application","asks", :cache => "cached_application" %>
  <%= yield :scripts %>
  <script type="text/javascript">
    <% if current_user %>
    var logined = true;
    <% else %>
    var logined = false;
    <% end %>
  </script>
</head>
<body>
  <div id="header">
    <div class="container">
      <div class="left_wrapper">
        <div id="site_name">
          <a href="/"><%= image_tag("logo.png") %></a>
        </div>
        <div id="add_ask">
          <input type="text" placeholder="搜索问题，话题，会员" onclick="return showSearchComplete(this,'click');" onkeyup="return showSearchComplete(this,'keyup');" />
          <a href="/asks/new" onclick="return addAsk();">我要提问</a>
        </div>
      </div>
      <div class="sidebar">
        <div id="user_bar">
          <% if not current_user %>
            <a href="/">随便看看</a>
            <a href="/login">登录</a>
            <a href="/register"><% if Setting.allow_register %>注册<%else%>如何才能注册?<%end%></a>
          <% else %>
            <a href="/">首页</a>
            <%= user_name_tag(current_user) %>
            <%= link_to('设置', edit_user_registration_path) %>
            <a href="/logout">退出</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="left_wrapper">
        <% if !notice.blank? %>
          <div class="notice_message"><%= notice %></div>
          <script type="text/javascript">
            $(".notice_message").fadeOut().fadeIn();    
          </script>
        <% end %>
        <% if !alert.blank? %>
          <div class="alert_message"><%= alert %></div>
          <script type="text/javascript">
            $(".alert_message").fadeOut().fadeIn();    
          </script>
        <% end %> 
        <%= yield %>
      </div>
      <div class="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="left_wrapper">
        <div class="links">
          <a href="/about">关于者也</a> • 
          <a href="http://blog.zheye.org" target="_blank">博客</a> •
          <a href="/register">如何注册</a> •
          <a href="http://twitter.com/zheyecn" target="_blank">Twitter</a> •
          <a href="mailto:nowazhu@gmail.com">合作联系</a> •
          <a href="mailto:huacnlee@gmail.com">反馈</a>
        </div>
        <p class="copyright">
          <%= raw Setting.foot_html %>
        </p>
      </div>
    </div>
  </div>
  <%= yield :bottom %>
  <div style="display: none;" id="hidden_new_ask">
    <form action="/asks" method="post" id="inner_new_ask">
      <%= auth_token %>
      <textarea type="text" name="ask[title]" class="title" placeholder="在这里输入问题"></textarea>
      <label>可选:</label>添加更多描述
      <textarea type="text" name="ask[body]"></textarea>
      <button type="submit" class="submit">添加问题</button> <a href="#" onclick="$.facebox.close(); return false;">取消</a>
    </form>
  </div>
  <div style="display: none;" id="loading"> 
    <div class="logo"></div> 
    <div class="text">加载中…</div> 
  </div> 
  <div style="width:0px;height;0px;overflow:hidden;">
    <%= image_tag("loading.gif") %>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= Setting.google_analytics_id %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
<% end %>
