<%= spaceless do %>
<div style="background:#FFF; font-size:12px; font-family:'helvetica neue', helvetica, arial, sans-serif;">
  <table>
    <tr style="height:35px;">
      <td valign="top" style="width:80px; text-align:right; padding-right:10px;">
        <a href="<%= root_url %>" title="<%= Setting.app_name %>" target="_blank"><img src="http://zheye.org/images/logo.png" /></a>
      </td>
      <td valign="middle">
        <h3 style="color:#000000;margin:0;padding:0;font-size:15px;"><%= @title %></h3>
      </td>
    </tr>
    <tr>
      <td valign="top" style="width:80px; text-align:right; padding-right:5px;"></td>
      <td valign="top" style="font-size:12px;">
        <%= yield %>
        <div style="margin-top:25px; padding:8px; text-align:right;">
          <a href="<%= root_url %>" style="color:#333;"><%=t(:who_is_also_team)%></a><br />
        </div>
        <div style="margin-top:5px; padding-top:10px; color:#999; border-top:1px solid #ccc;">
          <%=t(:from_the_bottom_of_this_message)%><%= Setting.app_name %>, <%=t(:a_new_q__a_community)%>。<br />
          <a style="color:#999;" href="<%= root_url %>"><%= root_url %></a> &nbsp;|&nbsp; <a style="color:#999;" href="<%= edit_user_registration_url %>#mail_notify_settings"><%=t(:email_notification_settings)%></a>
        </div>
      </td>
    </tr>
  </table>
</div>
<% end %>
